@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$gray-1000: #1f1f1f;
$gray-900: #222;
$gray-200: #ddd;
$gray-100: #fefefe;
$green-btn-col: #5cd85c;
$red-btn-col: #e93a3a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $gray-900;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $gray-200;
}

body {
  background: $gray-1000;
  display: grid;
  grid-template: auto 1fr / 30% 1fr;
  height: 100vh;
}

button,
input[type='submit'],
nav ul li,
#allTodos {
  cursor: pointer;
}

header,
nav,
.todo,
.notes {
  color: $gray-900;
}

#newTodo,
nav,
.todo-header,
.todo button {
  background-color: $gray-100;
}

header {
  background-color: $gray-200;
  padding: 16px 32px;
  grid-area: 1 / 1 / 1 / 2;

  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

nav {
  padding: 20px;
  grid-area: 2 / 1 / 2 / 2;
  overflow-y: auto;

  form {
    margin: 7px 0;
  }

  button {
    border: 1px solid $gray-900;
    height: 36px;
    width: 36px;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-900;
    border-top: 1px solid $gray-900;
    padding: 7px 0;

    ::placeholder {
      color: $gray-900;
    }

    input {
      background: inherit;
      padding: 5px;
      font-size: 1.1rem;
    }

    button {
      background: $green-btn-col;
      color: $gray-100;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  form input,
  ul li span {
    width: calc(100% - 34px);
    border: 1px solid $gray-900;
    padding: 5px 15px;
    font-size: 20px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 5px;
      display: flex;

      &.active span {
        background-color: $gray-900;
        color: $gray-100;
      }

      span {
        white-space: nowrap;

        &:hover {
          background-color: $gray-900;
          color: $gray-100;
        }
      }

      button {
        background: $red-btn-col;
      }

      button:hover {
        color: $gray-100;
      }
    }
  }
}

main {
  grid-area: 1 / 2 / 3 / 2;
  color: $gray-100;
  position: relative;
  padding: 32px;

  .main-header {
    position: relative;
  }

  h1 {
    font-size: 1.4rem;
  }

  #allTodos {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;

    &:hover,
    &.active {
      background-color: #fff;
      color: $gray-1000;
    }
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #todos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86%;
    gap: 10px;
    overflow-y: auto;
  }

  .todo {
    width: calc(100% - 10px);
    min-height: 40px;
    position: relative;

    .todo-header,
    .notes {
      width: 100%;
    }

    .todo-header {
      padding: 5px 10px 5px 15px;
      height: 40px;
      position: absolute;
      display: grid;
      grid-template-columns: 1fr max-content repeat(2, 3ch) 6ch;
      gap: 5px;
    }

    .todo-header > * {
      align-self: center;
    }

    .dueDate {
      padding: 0 10px;
    }

    .notes {
      height: 0px;
      transition: height 1s;
      overflow-y: hidden;
      background-color: #bbb;
      z-index: -1;
      position: relative;
    }

    &.checked .title {
      text-decoration: line-through;
    }

    &.checked .check {
      background: $green-btn-col;
    }

    &.extended {
      .todo-header {
        top: 0;
      }
      .notes {
        height: auto;
        padding: 50px 20px 10px 20px;
      }
      .extend {
        background-color: #222;
        color: $gray-100;
      }
    }

    button {
      aspect-ratio: 1 / 1;
      justify-self: center;
      height: 100%;
      color: $gray-900;
      font-weight: bold;
      box-shadow: 2px 2px 4px $gray-900;
      border: 1px solid $gray-900;
    }

    .delete:hover {
      background: $red-btn-col;
    }

    .check:hover {
      background: $green-btn-col;
    }

    .extend {
      font-weight: bold;
      aspect-ratio: unset;
      padding: 0 5px;

      &:hover {
        background: $gray-900;
        color: $gray-100;
      }
    }
  }
}

#addTodo {
  padding: 0 0.5rem;
  background: $green-btn-col;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  display: none;
  z-index: 11;
  height: 100%;

  &:hover {
    color: #fff;
  }
}

#newTodo {
  color: $gray-900;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 300px;
  padding: 32px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  border: 2px solid $gray-900;

  label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    width: 100%;
  }

  input {
    text-align: center;
    padding: 5px;
  }

  textarea {
    padding: 10px;
    resize: none;
    flex-basis: 0;
  }

  button {
    border: 0;
    background: $green-btn-col;
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}
