@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

body {
  background: #333;
  display: grid;
  grid-template: 4rem 32px 1fr 32px / 32px 25% 32px 1fr 32px;
  height: 100vh;
}

button {
  cursor: pointer;
}

header {
  background-color: #222;
  color: #fff;
  padding: 16px 32px;
  grid-area: 1 / 1 / 1 / 6;

  h1 {
    font-size: 2rem;
  }
}

nav {
  background-color: #eee;
  color: #222;
  padding: 16px;
  grid-area: 3 / 2 / 3 / 2;
  border-radius: 10px;
  overflow-y: scroll;

  h2,
  hr,
  form {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;

    li {
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 10px;
      position: relative;
      display: flex;

      &.active span {
        background-color: #222;
        color: #eee;
      }

      span {
        padding: 5px 15px;
        border: 1px solid #222;
        display: block;
        border-radius: 999px 0 0 999px;
        background-color: #bbb;
        color: #111;
        white-space: nowrap;
        width: calc(100% - 34px);

        &:hover {
          background-color: #222;
          color: #eee;
        }
      }

      button {
        border-radius: 0 999px 999px 0;
        border: 1px solid #222;
        background: #e93a3a;
        height: 36px;
        width: 36px;
      }
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    button {
      width: 32px;
      height: 32px;
      background: #5cd85c;
      border: 0;
      color: #fff;
      font-weight: bold;
      border-radius: 50%;
      font-size: 1.2rem;
    }
  }

  ::placeholder {
    color: #222;
  }

  input {
    background: #ddd;
    color: #111;
    padding: 5px;
    flex: 80%;
    font-size: 1.1rem;
  }
}

main {
  grid-area: 3 / 4 / 3 / 4;
  color: #fff;
  position: relative;

  #allTodos {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover,
    &.active {
      background-color: #fff;
      color: #333;
    }
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #todos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86%;
    gap: 10px;
    overflow-y: scroll;
  }

  .todo {
    width: calc(100% - 10px);
    min-height: 40px;
    position: relative;

    .todo-header,
    .notes {
      width: 100%;
    }

    .todo-header {
      background: #eee;
      color: #222;
      padding: 5px 10px 5px 15px;
      border-radius: 999px;
      height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      position: absolute;
    }

    .title {
      flex: 70%;
    }

    .notes {
      height: 0px;
      transition: height 1s;
      overflow-y: hidden;
      background-color: #666;
      color: #eee;
      z-index: -1;
      position: relative;
      border-radius: 30px 30px 20px 20px;
    }

    &.checked .title {
      text-decoration: line-through;
    }

    &.checked .check {
      background: #5cd85c;
    }

    &.extended {
      .todo-header {
        top: 0;
        border-radius: 20px 20px 0 0;
      }
      .notes {
        height: auto;
        padding: 45px 20px 10px 20px;
      }
      .extend {
        background-color: #666;
        color: #eee;
      }
    }

    button {
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      height: 100%;
      border: 1px solid #666;
      background: transparent;
      color: #222;
      font-weight: bold;
    }

    .delete:hover {
      background: #f00;
    }

    .extend {
      transform: rotate(0.25turn);
      font-weight: bold;

      &:hover {
        background: #666;
        color: #eee;
      }
    }
  }
}

#addTodo {
  padding: 0.5rem;
  background: #5cd85c;
  color: #222;
  border: 0;
  border-radius: 0 10px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  display: none;
  z-index: 11;

  &:hover {
    color: #fff;
  }
}

#newTodo {
  background-color: #eeea;
  backdrop-filter: blur(2px);
  color: #222;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  display: none;
  z-index: 10;

  label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  input {
    text-align: center;
    padding: 5px;
  }

  textarea {
    padding: 10px;
  }

  button {
    border-radius: 10px;
    border: 0;
    background: #5cd85c;
    padding: 5px;
  }
}
